* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



.after::after {
    display: block;
    content: "";
    clear: both;
}

.flex {
    display: flex;
}

.logo {
    display: block;
    width: 122px;
    height: 26px;
    background-image: url(https://www.etiqa.co.kr/img/common/sp_ico.svg);
    background-position: 0px -739px;
    position: fixed;
    top: 130px;
    left: 100px;
}


.top-bar {
    background: #9CAAC1;
    justify-content: space-around;
    padding: 130px 40px;
}

.menu-bar>.menu-bar2>li {
    padding: 0 30px;
    color: #Fff;
    font-weight: bold;
    font-size: 15px;
}

.menu-bar>.menu-bar2>li>a:hover {
    border-bottom: solid 2px #Fff;
}

.side-bar {
    font-size: 30px;
    color: #Fff;
    position: fixed;
    top: 120px;
    right: 100px;
}

.side-bar:hover {
    transition: 0.3s;
    transform: rotate(45deg);
}


.contents {
    width: 100%;
    background: #9CAAC1;
}

.contents-box {
    width: 1800px;
    margin: 0px auto;
}

.contents-box>.con1>div>img {
    width: 1800px;
}

.text-box {
    justify-content: space-between;
}

.text-box>.box1>h4 {
    color: #fff;
    margin-top: 70px;
}

.text-box>.box1>div {
    width: 150px;
    height: 50px;
    background: #Fff;
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}

.text-box>.box1>div:hover {
    background: black;
    color: #fff;
    transition: 0.3s;
}

.text-box>.box1>div>a {
    display: block;
}

.text-box>.box2 {
    color: #Fff;
    margin-top: 70px;
}

.text-box>.box3 {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}