* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



.after::after {
    display: block;
    content: "";
    clear: both;
}

.flex {
    display: flex;
}

.logo {
    display: block;
    width: 122px;
    height: 26px;
    background-image: url(https://www.etiqa.co.kr/img/common/sp_ico.svg);
    background-position: 0px -739px;
    position: fixed;
    top: 130px;
    left: 100px;
}

.top-bar {
    background: #A5B7D8;
    justify-content: space-around;
    padding: 130px 40px;
    padding-bottom: 180px;
}

/*ㅁㅔ뉴바 1차*/

.menu-bar>.menu-bar2>li {
    margin: 0 40px;
    color: #Fff;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

.menu-bar>.menu-bar2>li>a::before {
    display: block;
    content: "";
    width: 0px;
    height: 2px;
    background-color: #Fff;
    position: absolute;
    top: 23px;
    left: 0;
    transition: 0.3s;
}

.menu-bar>.menu-bar2>li:hover>a::before {
    width: 100%;
}

/*2차 메뉴바*/

.menu-bar>ul ul {
    position: absolute;
    top: calc(100% - 15px);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 1s;
}

.menu-bar>.menu-bar2>li>ul>li {
    color: #fff;
    font-size: 12px;
    padding-top: 18px;
}

.menu-bar>ul>li:nth-child(2):hover>ul {
    padding: 15px 0;
    height: 300px;
    opacity: 1;
}

.menu-bar>ul>li:nth-child(3):hover>ul {
    padding: 15px 0;
    height: 300px;
    opacity: 1;
}

.menu-bar>ul ul>li {
    position: relative;
}


.menu-bar>ul ul>li>a::before {
    display: block;
    content: "";
    width: 0px;
    height: 2px;
    background-color: #Fff;
    position: absolute;
    top: 35px;
    left: 0;
    transition: 0.3s;
}

.menu-bar>ul ul>li:hover>a::before {
    width: 100%;
}

/*메뉴바 끝*/

.side-bar {
    font-size: 30px;
    color: #Fff;
    position: fixed;
    top: 120px;
    right: 100px;
}




.contents {
    width: 100%;
    background: #A5B7D8;
}

.contents-box {
    width: 1800px;
    margin: 0px auto;
}

.contents-box>div>div>a>img {
    width: 1800px;
    height: 400px;
}

.text-box {
    width: 1800px;
}

.text-box>.box1 {
    width: 60%;
    float: left;
}

.text-box>.box1>h3 {
    color: #fff;
    margin-top: 70px;
}

.text-box>.box1>div {
    width: 150px;
    height: 50px;
    background: #Fff;
    border-radius: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.text-box>.box1>div:hover {
    background: black;
    color: #fff;
    transition: 0.3s;
}

.text-box>.box1>div>a {
    display: block;
}

.text-box>.box2 {
    color: #Fff;
    margin-top: 70px;
    float: left;
    width: 15%;
    font-family: 'Poppins', sans-serif;
}

.text-box>.box3 {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    margin-top: 70px;
    float: left;
    width: 25%;
    line-height: 30px;
}

.con2>div>a>img {
    margin-top: 80px;
}


.con3>div>a>img {
    background-size: contain;
    margin-top: 70px;
}

.con4>div>a>video {
    margin-top: 70px;
}

.con5>div>a>img {
    margin-top: 70px;
}

.con6>div>a>video {
    margin-top: 70px;
}

.con7>div>a>video {
    margin-top: 70px;
}

.con8>div>a>img {
    margin-top: 70px;
}

.con8>div {
    padding-bottom: 100px;
}


.box-menu>li {
    float: left;
}

.box-menu>li>a>img {
    width: 870px;
    height: 870px;
}

.box-menu>li:nth-of-type(odd) {
    padding-right: 30px;
    padding-bottom: 60px;
}

.box-menu>li:nth-of-type(even) {
    padding-left: 30px;
    padding-bottom: 60px;
}

.box-menu>li>a {
    position: relative;
}

.box-menu>li>a>h3 {
    position: absolute;
    display: block;
    bottom: 730px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}